.about-us {
	.about-us__container {
		background: url("@img/bg-decor/circle-points.svg") no-repeat;
		background-position: left 0 bottom 0;
		background-size: 12.1875rem;
		@media (max-width: 768px) {
			background-position: left -60px bottom 0;
		}

		.card {
			margin: 0 2.5rem;
			padding: 0 2.8125rem 0 3.375rem;
			border-radius: 50px;
			display: flex;
			justify-content: space-between;
			background: rgba($color: $gold, $alpha: 0.1);
			@media (max-width: 768px) {
				margin: 0;
			}
			&::before {
				content: "";
				background: url("@img/bg-decor/home.png") no-repeat;
				background-position-y: center;
				background-size: contain;
				flex: 1 2 652px;
				margin: 1rem 0;
				@media (max-width: 768px) {
					display: none;
				}
			}
			&::after {
				content: "";
				background: url("@img/bg-decor/chair-croped.png") no-repeat;
				background-size: contain;
				background-position: left 0 bottom 47px;
				flex: 1 2 240px;
				max-width: 240px;
				@media (max-width: 992px) {
					display: none;
				}
				@media (max-width: 768px) {
					display: block;
				}
				@media (max-width: 600px) {
					display: none;
				}
			}
			.content {
				margin-left: auto;
				padding: 4.625rem 0 4.9375rem;
				flex-shrink: 1;

				.main-title {
					margin-bottom: 30px;
					max-width: 515px;
				}
				.description {
					margin-bottom: 24px;
					max-width: 515px;
				}
				.btn {
					height: 3.75rem;
					width: 13.75rem;
				}
			}
		}
	}
}
