.featured-products {
	text-align: center;
	background: url("@img/bg-decor/star.png"), url("@img/bg-decor/star.png");
	background-position: right -73px top 6px, left 60px top 359px;
	background-repeat: no-repeat;
	@media (max-width: $breakpoint-extra-small) {
		background: none;
	}
	.description {
		margin-bottom: 29px;
	}
	.products {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 75px 80px;
		.product-card {
			text-align: initial;
			max-width: 400px;
			width: 100%;
			.product-image {
				border: 2px solid $darkGrey;
				border-radius: 20px;
				overflow: hidden;
				margin-bottom: 30px;
				img {
					width: 100%;
					display: block;
				}
			}
			.product-title {
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 15px;
			}
			.short-description {
				font-size: 2.4rem;
				margin-bottom: 15px;
			}
			.card-footer {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.info {
					.price-block {
						font-size: 32px;
						margin-bottom: 10px;
						@media (max-width: $breakpoint-extra-small) {
							font-size: 3.2rem;
						}
						.old-price {
							color: $gold;
							text-decoration: line-through;
							margin-right: 2px;
						}
						.price {
							font-weight: 700;
						}
					}
				}
				.btn {
					height: 40px;
					width: 160px;
					font-size: 18px;
					color: $mainBlack;
					margin: 0 5px 6px 0;
					@media (max-width: $breakpoint-extra-small) {
						height: 40px;
						width: 18rem;
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
