@import "../variables";

.section-title {
	@include fontMontserrat($size: 1.875rem, $weight: 600);
	border-bottom: 2px solid $gold;
	padding-bottom: 10px;
	margin-bottom: 20px;
	display: inline-block;
	text-transform: uppercase;
}

.slider {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	.prev,
	.next {
		width: 47px;
		height: 47px;
		opacity: 1;
		svg {
			width: 13px;
			height: 13px;
			fill: $mainBlack;
		}
	}
	.next {
		right: 0;
	}
	.prev {
		left: 0;
	}
}

@import "./about-us";
@import "./sell-products";
@import "./special";
@import "./star-products";
@import "./support";
@import "./blog";
@import "./peoples";
@import "./featured-products";
@import "./subscribe";
