.sell-products {
	text-align: center;
	background: url("@img/bg-decor/2-half-circle.png");
	background-position: right -35px top 5.875rem;
	background-repeat: no-repeat;
	@media (max-width: 768px) {
		background-position: right -35px top 0;
	}
	@media (max-width: 500px) {
		background: none;
	}
	.description {
		margin-bottom: 30px;
	}
	.slider {
		padding-left: 83px;
		padding-right: 83px;
		@media (max-width: $breakpoint-small) {
			padding-left: 60px;
			padding-right: 60px;
		}
		.product-card {
			margin-top: 40px;
			cursor: pointer;

			&:hover {
				.btn.outline,
				.card-header {
					background-color: $gold;
				}
			}
			.card-header {
				background-color: $lightGrey;
				border-radius: 30px;
				height: 149px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 20px;
				transition: background-color 0.3s ease;
				.product-image {
					position: absolute;
					height: 110px;
					top: -40px;
					left: 50%;
					transform: translateX(-50%);
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.product-name {
					font-size: 24px;
					font-weight: 500;
					padding-bottom: 15px;
				}
			}
			.rating {
				margin-bottom: 17px;
				svg {
					width: 20px;
					height: 20px;
				}
			}
			.price {
				@include fontMontserrat($size: 1.625rem, $weight: 700);
				margin-bottom: 17px;
			}
			.short-description {
				font-size: 18px;
				margin-bottom: 20px;
			}
			.btn.outline {
				width: 199px;
				height: 50px;
				transition: background-color 0.3s ease;
			}
		}
	}
}
