.sell-products {
	text-align: center;
	background: url("@img/bg-decor/2-half-circle.png") 102% 5%;
	background-repeat: no-repeat;
	.description {
		margin-bottom: 30px;
	}
	.slider {
		.slides {
			flex: 1 1;
			display: flex;
			justify-content: center;
			gap: 59px;
		}
		.product-card {
			max-width: 257px;
			margin-top: 40px;
			cursor: pointer;
			&:hover {
				.btn.outline,
				.card-header {
					background-color: $gold;
				}
			}
			.card-header {
				background-color: $lightGrey;
				border-radius: 30px;
				height: 149px;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				margin-bottom: 20px;
				transition: background-color 0.3s ease;
				.product-image {
					position: absolute;
					top: -40px;
					left: 50%;
					transform: translateX(-50%);
				}
				.product-name {
					font-size: 24px;
					font-weight: 500;
					padding-bottom: 15px;
				}
			}
			.rating {
				margin-bottom: 17px;
			}
			.price {
				@include fontMontserrat($size: 1.625rem, $weight: 700);
				margin-bottom: 17px;
			}
			.short-description {
				font-size: 18px;
				margin-bottom: 20px;
			}
			.btn.outline {
				width: 199px;
				height: 50px;
				transition: background-color 0.3s ease;
			}
		}
	}
	.special {
		margin: 160px 80px 0 80px;
		padding: 60px 0;
		background: url("@img/bg-decor/necklace.svg") 5% top,
			url("@img/bg-decor/special-img.png");
		background-repeat: no-repeat;
		height: 767px;
		.block-title {
			@include fontMontserrat($size: 1.875rem, $weight: 600);
			color: black;
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		.count-down {
			display: flex;
			gap: 55px;
			justify-content: center;
			margin-bottom: 40px;
			.count-down-item {
				svg {
					width: 90px;
					height: 90px;
					fill: none;
					.circles {
						transform-origin: center;
						transform: rotateY(-180deg) rotateZ(-90deg);
						circle {
							stroke: #f3e9e9;
							fill: none;
							&.counted {
								stroke-width: 4px;
								stroke-dasharray: 207px;
								stroke-dashoffset: 360px;
								filter: drop-shadow(-4px 0px 2px rgba(0, 0, 0, 0.25));
							}
						}
					}

					text {
						fill: black;
						@include fontMontserrat($size: 1.5rem, $weight: 600);
					}
				}
				.text {
					@include fontMontserrat($size: 1rem, $weight: 600);
					font-style: italic;
					color: black;
					display: block;
					margin-top: -12px;
				}
			}
		}
		.btn {
			height: 50px;
			width: 200px;
		}
	}
}
