.special {
	text-align: center;
	background: no-repeat url("@img/bg-decor/points-circle.svg") left -38px bottom 11px;
	.special__container {
		max-width: 1830px;
		background: no-repeat url("@img/bg-decor/necklace.svg") right 0 top 3.2rem;
		@media (max-width: 992px) {
			background-position: right 0.5rem top 2.5rem;
		}

		.card {
			margin: 0 auto;
			max-width: 1520px;
			border-radius: 50px;
			border: 0.5rem solid #aacacd;
			min-height: 76.7rem;
			overflow: hidden;
			position: relative;
			z-index: 5;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: url("@img/bg-decor/special-img.png");
				background-position: center;
				background-repeat: no-repeat;
				z-index: -1;
				@media (max-width: $breakpoint-large) {
					background-size: cover;
				}
			}
			.content {
				padding: 5.5rem 1.6rem;
				.block-title {
					@include fontMontserrat($size: 3rem, $weight: 600);
					color: black;
					text-transform: uppercase;
					margin-bottom: 2.5rem;
				}

				.count-down {
					display: flex;
					max-width: 560px;
					margin: 0 auto 3.5rem;
					gap: 1rem;
					justify-content: space-between;
					flex-wrap: wrap;
					.left,
					.right {
						display: flex;
						justify-content: space-around;
						gap: 1rem;
						flex: 1 1 auto;
					}
					.count-down-item {
						svg {
							width: 90px;
							height: 90px;
							fill: none;
							.circles {
								transform-origin: center;
								transform: rotateY(-180deg) rotateZ(-90deg);
								circle {
									stroke: #f3e9e9;
									fill: none;
									&.counted {
										stroke-width: 4px;
										stroke-dasharray: 207px;
										stroke-dashoffset: 414px;
										filter: drop-shadow(-4px 0px 2px rgba(0, 0, 0, 0.25));
									}
								}
							}

							text {
								fill: black;
								@include fontMontserrat($size: 24px, $weight: 600);
							}
						}
						.text {
							@include fontMontserrat($size: 16px, $weight: 600);
							font-style: italic;
							color: black;
							display: block;
							margin-top: -12px;
						}
					}
				}
				.btn {
					height: 5rem;
					width: 20rem;
				}
			}
		}
	}
}
