.star-products {
	text-align: center;
	background: no-repeat url("@img/bg-decor/grid.png") right -40px top 180px;
	@media (max-width: 992px) {
		background: none;
	}
	.description {
		margin-bottom: 3rem;
	}
	.slider-rounds {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 5.1rem;
		font-size: 16px;
		@media (max-width: $breakpoint-large) {
			font-size: 13px;
		}
		@media (max-width: 600px) {
			font-size: 10px;
		}
		@media (max-width: 400px) {
			font-size: 8px;
		}
		.round {
			border: 1px solid $mainBlack;
			border-radius: 50%;
			position: relative;
			.inner-round {
				height: 10rem;
				width: 10rem;
				background-color: rgba(52, 56, 61, 0.2);
				border-radius: inherit;
				margin: 1.4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				@include fontRoboto($size: 1.125em, $weight: 500);
				&.active {
					background-color: $gold;
				}
			}
		}
		.line {
			height: 1px;
			margin: 0 1rem;
			width: 100%;
			max-width: 11.3rem;
			background-color: $mainBlack;
		}
	}
	.slider {
		padding-left: 87px;
		padding-right: 87px;
		@media (max-width: $breakpoint-small) {
			padding-left: 60px;
			padding-right: 60px;
		}
		.product-card {
			border: 2px dashed rgba($color: $mainBlack, $alpha: 0.5);
			border-radius: 200px 200px 20px 20px;
			transition: border-color 0.3s ease, box-shadow 0.3s ease;
			&:hover {
				border-color: $gold;
				box-shadow: 0px 15px 3.9rem rgba(0, 0, 0, 0.1);
			}

			.product-image {
				height: 27rem;
				width: 20.4rem;
				margin: 3.4rem auto 1.6rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.product-content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 0 5.2rem 2.6rem;
				@media (max-width: 650px) {
					margin-right: 1.6rem;
					margin-left: 1.6rem;
				}

				.product-info {
					.product-name {
						font-weight: 500;
						font-size: 2.2rem;
						margin-bottom: 8px;
					}
					.rating {
						> svg {
							vertical-align: top;
							margin-right: 5px;
						}
						.rating-number {
							font-size: 2rem;
							font-weight: 500;
							vertical-align: bottom;
						}
					}
				}
			}
			.price {
				@include fontRoboto($size: 3rem, $weight: 500);
				color: #000;
				margin-bottom: 3.2rem;
			}
		}
	}
}
