.support {
	background: url("@img/bg-decor/waves.png") -108px 60px;
	background-repeat: no-repeat;
	.inner {
		.info-image {
			margin: 0 auto -3.4rem;
			display: block;
			width: 100%;
			max-width: 95.6rem;
		}
		.info-bg {
			background-color: rgba($color: $gold, $alpha: 0.19);
			border-radius: 3rem;
			padding: 11.9rem 0 11.7rem;
			.information {
				display: flex;
				flex-wrap: wrap;
				gap: 1.5rem;
				justify-content: space-around;
				max-width: 1248px;
				padding-left: 20px;
				padding-right: 20px;
				margin: 0 auto;
				.information-item {
					display: flex;
					align-items: center;
					gap: 2rem;
					text-align: start;
					.content {
						.info-title {
							@include fontRoboto($size: 2rem, $weight: 500);
							margin-bottom: 5px;
						}
						.info-subtitle {
							font-size: 1.4rem;
							@media (max-width: $breakpoint-large) {
								font-size: 12px;
							}
						}
					}
				}
			}
		}
	}
}
