@use "variables";
@import "fonts";

%button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: inherit;
	line-height: 1;
}

.icon-btn {
	@extend %button;
	display: inline-flex;
	padding: 8px;
	border-radius: 50%;
	transition: background-color 0.3s ease-in;
	&:hover {
		background-color: rgba($color: variables.$gold, $alpha: 0.1);
	}
	&.fill {
		background-color: variables.$gold;
		padding: 11px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		&:hover {
			background-color: rgba($color: variables.$gold, $alpha: 0.8);
		}
	}
}

.btn {
	@extend %button;
	@include fontMontserrat($weight: 700);
	border: none;
	background-color: variables.$gold;
	border-radius: 50px;
	box-shadow: 0px 5px 10px rgba(205, 168, 97, 0.29);
	&.outline {
		border: 1px solid variables.$gold;
		outline: 1px solid variables.$gold;
		background-color: transparent;
		box-shadow: none;
	}
}
