// font
$Montserrat: "Montserrat", sans-serif;
$Roboto: "Roboto", sans-serif;

// colors
$mainBlack: #34383d;
$mainWhite: #fff;
$lightGrey: #f2f1f1;
$darkGrey: #8c94a6;
$grey: #b6bbbf;
$gold: #cda861;
$sugar: #f5eee1;
$smoke: #f8f7f7;

$offset: 25px;
