@use "fonts";
@import "variables";

.footer {
	background-color: $gold;
	.footer__container {
		padding-top: 5rem;
		padding-bottom: 5rem;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			> * {
				margin: 0 auto;
			}
		}
		.left {
			max-width: 44.125rem;
			.logo {
				margin-bottom: 1.25rem;
			}
			.description {
				margin-bottom: 1.25rem;
				color: $mainBlack;
				font-weight: 400;
			}
			.icons {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
		.right {
			display: flex;
			max-width: 28.3125rem;
			justify-content: space-between;
			gap: 3rem;
			padding-right: 8px;
			flex: 1;
			@media (max-width: 500px) {
				flex-wrap: wrap;
				.menu {
					margin: 0 auto;
				}
			}
			.menu {
				width: max-content;
				.title {
					@include fontMontserrat($size: 1.625rem, $weight: 700);
					border-bottom: 2px solid #fff;
					padding-bottom: 5px;
					margin-bottom: 25px;
				}
				.menu-item {
					@include fontMontserrat($size: 1.375rem, $weight: 500);
					list-style: disc;
					text-transform: uppercase;
					margin-left: 25px;
					margin-bottom: 20px;
					list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 4 4'><circle  r='0.8' /></svg>");
				}
			}
		}
	}
	.copyright {
		background-color: $mainBlack;
		color: $gold;
		padding: 18px 0;
		text-align: center;
		.img-icon {
			vertical-align: text-top;
			margin-right: 12px;
		}
		.text {
			font-size: 1.125rem;
			display: inline-block;
		}
	}
}
