@use "fonts";
@import "variables";

.footer {
	background-color: $gold;
	.footer__container {
		padding-top: 8rem;
		padding-bottom: 7.4rem;
		display: flex;
		justify-content: space-between;
		gap: 3.2rem;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			> * {
				margin: 0 auto;
			}
		}
		.left {
			max-width: 60.6rem;
			.logo {
				display: flex;
				margin-bottom: 2.1rem;
			}
			.description {
				margin-bottom: 1.9rem;
				color: $mainBlack;
				font-weight: 400;
				line-height: 1.181;
			}
			.icons {
				display: flex;
				align-items: center;
				gap: 5px;
			}
		}
		.right {
			display: flex;
			max-width: 46rem;
			justify-content: space-between;
			gap: 4.8rem;
			padding-top: 10px;
			flex: 1;
			@media (max-width: 500px) {
				flex-wrap: wrap;
				.menu {
					margin: 0 auto;
				}
			}
			.menu {
				width: max-content;
				.title {
					@include fontMontserrat($size: 2.6rem, $weight: 700);
					display: inline-block;
					border-bottom: 2px solid #fff;
					padding-bottom: 5px;
					margin-bottom: 27px;
				}
				.menu-item {
					@include fontMontserrat($size: 2.2rem, $weight: 500);
					text-transform: uppercase;
					margin-left: 30px;
					margin-bottom: 21px;
					padding-left: 2px;
					list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 4 4'><circle  r='0.8' /></svg>");
				}
			}
		}
	}
	.copyright {
		background-color: $mainBlack;
		color: $gold;
		padding: 18px 0;
		text-align: center;
		.img-icon {
			vertical-align: text-top;
			margin-right: 12px;
		}
		.text {
			font-size: 1.8rem;
			display: inline-block;
		}
	}
}
