@import "variables";

.header {
	height: 108rem;
	background: url("@img/bg-decor/sofa.png") right top,
		url("@img/bg-decor/furniture-bg.png") right top,
		url("@img/bg-decor/header-sticks-small.svg") -8.5% 32.8%,
		linear-gradient(90deg, #d6cfc2 0%, rgba(255, 255, 255, 0.5) 100%);
	background-repeat: no-repeat;
	padding-top: 2rem;
	.header__container {
		height: 100%;
		background: url("@img/bg-decor/header-sticks-big.svg") 71.9% 110%,
			url("@img/bg-decor/9-dots.svg") 42% 35%, url("@img/bg-decor/9-dots.svg") 21.7% 94.7%;
		background-repeat: no-repeat;
		.btn {
			height: 6rem;
			width: 22rem;
		}
		.menu-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 2.4rem;
			flex-wrap: wrap;
			margin-bottom: 3.1rem;
			@media (max-width: 992px) {
				flex-direction: column;
				align-items: center;
			}

			.left {
				align-items: center;
				justify-content: center;
				display: flex;
				flex-wrap: wrap;
				gap: 2.4rem;
				@include fontRoboto($size: 2.2rem, $weight: 500);
				.phone {
					display: flex;
					align-items: center;
					margin-right: 3.7rem;
					@media (max-width: 992) {
						margin-right: 0;
					}
					.number {
						margin-left: 1rem;
						margin-top: 0.2rem;
					}
				}
				.greeting {
					font-style: italic;
				}
			}
			.right {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 20px;
				.btn {
					box-shadow: 0px 5px 10px rgba(52, 56, 61, 0.2);
					&.outline {
						color: white;
						box-shadow: none;
					}
				}
			}
		}
		.navbar {
			// height: 8.125em;
			display: flex;
			align-items: center;
			gap: 4.5rem;
			position: relative;
			justify-content: space-between;

			@media (max-width: 992px) {
				background-color: rgba($color: $sugar, $alpha: 0.7);
				height: min-content;
				padding: 2.4rem;
				border-radius: 20px;
			}
			@media (max-width: 500px) {
				position: static;
			}

			.logo {
				display: block;
				width: 20rem;
				@media (max-width: 500px) {
					max-width: 50%;
				}
				img {
					display: block;
					width: 100%;
				}
			}
			.menu {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex: 1 1 auto;
				gap: 2.4rem;
				@media (max-width: 992px) {
					flex: 0 0;
				}
				@media (max-width: 768px) {
					display: none;
				}
				&.opened {
					display: flex;
					flex-direction: column-reverse;
					justify-content: flex-end;
					align-items: center;
					@media (max-width: 768px) {
						width: 100%;
						background-color: $sugar;
						position: absolute;
						top: calc(100% + 1.6rem);
						left: 0;
					}
					@media (max-width: 500px) {
						position: fixed;
						top: 0;
						left: 0;
						height: 100vh;
					}
					.navbar-nav {
						@media (max-width: 992px) {
							display: flex;
							position: absolute;
							padding: 1.6rem;
							top: calc(100% + 1.6rem);
							background-color: $sugar;
							left: 50%;
							transform: translateX(-50%);
							width: 100%;
						}
						@media (max-width: 768px) {
							position: static;
							background-color: transparent;
							transform: translateX(0);
							flex-direction: column;
							align-items: center;
							flex: 1;
							.nav-item {
								margin-bottom: 1.6rem;
								margin-right: 0 !important;
							}
						}
						@media (max-width: 500px) {
							.nav-item {
								font-size: 3.2rem;
							}
						}
					}
					.nav-actions {
						margin-top: 1rem;
					}
				}
				.navbar-nav {
					@include fontRoboto($size: 2.2rem, $weight: 500);
					display: flex;
					max-width: 79.6rem;
					justify-content: space-between;
					gap: 2.4rem;
					flex: 1 1;
					@media (max-width: 992px) {
						display: none;
					}
					.nav-item {
						position: relative;
						a {
							line-height: 1.5;
							opacity: 0.6;
							transition: opacity 0.3s ease-in;
						}
						svg {
							position: absolute;
							bottom: -9px;
							left: 50%;
							transform: translateX(-50%);
							opacity: 0;
							transition: opacity 0.3s ease-in;
							rect {
								fill: $gold;
							}
						}
						&.active {
							a {
								opacity: 1;
							}
							svg {
								opacity: 1;
							}
						}
						&:hover {
							a {
								opacity: 1;
							}
						}
					}
				}
				.nav-actions {
					display: flex;
					gap: 2.4rem;
					margin-bottom: 2px;
					margin-right: 2px;
					.icon {
						width: 4rem;
						height: 4rem;
					}
				}
			}
		}
		.jumbotron {
			margin-top: 16.8rem;
			padding: 2.4rem 0;
			max-width: 66rem;
			@media (max-width: 1700px) {
				background-color: rgba($color: $sugar, $alpha: 0.7);
				max-width: calc(66rem + 2 * 2.4rem);
				border-radius: 20px;
				padding: 2.4rem;
			}
			@media (max-width: 992px) {
				margin: 9.6rem auto 0;
				text-align: center;
			}
			@media (max-width: 768px) {
				margin-top: 4.8rem;
			}
			.main-title {
				line-height: 1.21;
				margin-bottom: 3.2rem;
				& > .highlight {
					text-decoration: underline;
				}
			}
			.description {
				max-width: 490px;
				margin-bottom: 6rem;
				@media (max-width: 992px) {
					max-width: 100%;
				}
				@media (max-width: 670px) {
					margin-bottom: 3.2rem;
				}
			}
		}
	}
}

body.mobile-menu {
	@media (max-width: 500px) {
		overflow: hidden;
	}
}

.menu-burger {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	padding: 0;
	@media (max-width: 992px) {
		display: flex;
	}
	@media (max-width: 500px) {
		&.opened {
			position: fixed;
			top: 1.6rem;
			right: 1.6rem;
			z-index: 3;
		}
	}
	svg {
		width: 50px;
		height: 50px;
	}
	&.opened {
		.line.line1 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
		.line.line2 {
			stroke-dasharray: 1 60;
			stroke-dashoffset: -30;
			stroke-width: 6;
		}
		.line.line3 {
			stroke-dasharray: 90 207;
			stroke-dashoffset: -134;
			stroke-width: 6;
		}
	}
	.line {
		fill: none;
		stroke: black;
		stroke-width: 6;
		transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
			stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
		&.line1 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
		&.line2 {
			stroke-dasharray: 60 60;
			stroke-width: 6;
		}
		&.line3 {
			stroke-dasharray: 60 207;
			stroke-width: 6;
		}
	}
}
