@import "variables";
@import "fonts";
@import "buttons";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	@media (max-width: $breakpoint-large) {
		font-size: 7px;
	}
}
body {
	@include fontRoboto;
	color: $mainBlack;
	line-height: 1.172;
	height: 100%;
}
a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

[class*="__container"] {
	max-width: calc(1680px + $offset * 2);
	width: 100%;
	margin: 0 auto;
	padding: 0 $offset;
	&.section {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}
	@media (max-width: 992px) {
		padding: 0 2.4rem;
	}
	@media (max-width: 500px) {
		padding: 0 1.6rem;
	}
}

.highlight {
	color: $gold;
}
.main-title {
	@include fontMontserrat($size: 7.6rem, $weight: 600);
	color: $mainBlack;
	line-height: 1.2236;
	@media (max-width: 992px) {
		font-size: 5.6rem;
	}
	@media (max-width: 670px) {
		font-size: 4rem;
	}
}
.description {
	@include fontRoboto($size: 2.2rem, $weight: 500);
	line-height: 1.172;
	color: rgba($color: $mainBlack, $alpha: 0.8);
}

/* Header */
@import "./header";

/* Main */
@import "./main-section";

/* Footer */
@import "./footer";
